---
layout: default
---

<section class="page-title-area bg-cover1">
    <div class="page-title-wrapper section-spacing">
        <div class="page-title text-center white-text">
            <h2 class="heading-2">{{ page.subject }}</h2>
            <ul class="page-title-meta list-inline">
            </ul>
        </div>
    </div>
</section>

<section class="page-area bg-color1">
    <div class="page-wrapper section-spacing">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-content-box">
                        <div class="text-center font-weight-bolder mb-2">
                            <div> Tribuvan University </div>
                            <div> Institute of Science and Technology </div>
                            <div> {{page.questionYear}} </div>
                            <h4> &#10017; </h4>
                        </div>
                        <div class="row mb-2">
                            <div class="col-8">
                                <div>
                                    Bachelor Level/ {{page.courseYear}} Year/ {{page.semester}} Semester/ Science
                                </div>
                                <div> <b> Science and Information Technology ({{page.subjectCode}}) </b> </div>
                                <div> ({{page.subject}}) </div>
                            </div>
                            <div class="col-4 text-right">
                                <div> Full Marks: 60 </div>
                                <div> Pass Marks: 24 </div>
                                <div> Time: 3 hours </div>
                            </div>
                        </div>
                        <div class="mb-2">
                            <div>
                                Candidates are required to give their answers in their own words as for as practicable.
                            </div>
                            <div>The figures in the margin indicate full marks.</div>
                        </div>
                        {% for resource in page.resources %}
                        {% assign parentLoop = forloop %}
                        <div class="row">
                            <div class="col-8"> <b>{{ resource.instruction }}</b> </div>
                            <div class="col-4 text-right"> ({{ resource.marks }}) </div>
                        </div>
                        <ol>
                            {% for item in resource.items %}
                            <li>
                                <div class="accordion faq-accordion mb-3"
                                    id="accordion{{parentLoop.index}}{{forloop.index}}">
                                    <div class="card">
                                        <div class="card" id="heading{{parentLoop.index}}{{forloop.index}}">
                                            <button class="btn text-left" type="button" data-toggle="collapse"
                                                data-target="#collapse{{parentLoop.index}}{{forloop.index}}"
                                                aria-expanded="true">
                                                <div class="row">
                                                    <div class="col-9 col-md-10"> {{ item.question }} </div>
                                                    <div class="col-3 col-md-2 text-right"> ({{ item.marks }}) </div>
                                                </div>
                                            </button>
                                        </div>
                                        <div id="collapse{{parentLoop.index}}{{forloop.index}}" class="collapse"
                                            aria-labelledby="heading{{parentLoop.index}}{{forloop.index}}"
                                            data-parent="#accordion{{parentLoop.index}}{{forloop.index}}">
                                            {% if item.answer != '' %}
                                            <div class="card-body"> {{ item.answer }} </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ol>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>