---
layout: default
---

{% assign url = page.path | replace: "/subjects","" %}
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/script.js"></script>

<section class="page-title-area bg-cover1">
    <div class="page-title-wrapper section-spacing">
        <div class="page-title text-center white-text">
            <h2 class="heading-2">{{ page.title }}</h2>
            <ul class="page-title-meta list-inline">
            </ul>
        </div>
    </div>
</section>


<section class="pupolar-article-area bg-color3">
    <div class="pupolar-article-wrapper  section-spacing bminus-30">
        <div id="container" class="container">
            {% include breadcrumbs.html path=url title=page.title %}
            <div class="section-title">
                <h2 class="heading-2">{{ page.title }}</h2>
                <p>{{ content }}</p>
            </div>
            <div id="viewer" style="display: none;">
                <div class="col-xs-12">
                    <article class="bg-color1">
                        <div class="loader" style="width: 100%; position: relative">
                            <iframe id="document" width="100%" frameborder="0"></iframe>
                                <div onclick="toggleFullscreen();"
                                style="width: 40px; height: 40px; position: absolute; opacity: 1; background-color: #404040; left: 12px; top: 12px;">
                                <p style="font-size: 20px; color: white; padding-left: 2px; padding-top: 6px;"
                                    class="text-center"><i class="fa fa-arrows-alt"></i></p>
                            </div>
                            <!-- <div data-toggle="modal" data-target="#dialog"
                                style="width: 40px; height: 40px; position: absolute; opacity: 1; background-color: #404040; right: 12px; top: 12px;">
                                <p style="font-size: 20px; color: white; padding-left: 2px; padding-top: 6px;"
                                    class="text-center"><i class="fa fa-download"></i></p>
                            </div> -->
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-8">
                    {% for resource in page.resources %}
                    <article class="pupolar-article  bg-color1">
                        <header class="popular-article-top wow bounceIn" data-wow-duration="1s">
                            <div class="popular-top-logo">
                                <div class="popular-logo-icon"><img
                                        src="{{ site.url }}{{ site.baseurl }}/assets/images/book.png"
                                        alt="service icon"></div>
                            </div>
                            <div class="popular-top-title">
                                <h5 class="heading-5">{{ resource.title }}</h5>
                            </div>
                        </header>
                        <ul class="popular-article-list list-inline">
                            {% for item in resource.items %}
                            {% if item.hidden != true %}
                            {% if item.id %}
                            <li style="cursor:pointer" onclick="view('{{ item.id | replace: "1","e=:E+" | replace: "2","DtYAeyfORlWvWYTu" | replace: "3","ZMXdbXBNweNYiDhA" | replace: "4","zUvLVGpktZaKkNWF" | replace: "5","ZqcaZumgXBvcpaGD" | replace: "6","SFdkdEoHvjogHoMe" | replace: "7","RvLivDpbPRFcTgAc" | replace: "8", "vcrXRlvYApwVttVD" | replace: "9","kIXNCeLoyMxHDIgO" | replace: "0","SKrtxNrkQSLbmYmz" }}');">
                                {{ item.title }}
                            </li>
                            {% endif %}
                            {% if item.browseUrl %}
		                    <li><a href="{{ item.browseUrl }}" target="_blank" rel="nofollow">{{ item.title }}</a></li>
		                    {% endif %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </article>
                    {% endfor %}
                    {% include comments.html %}
                </div>

                <div class="col-md-6 col-lg-4">
                    <article class="pupolar-item bg-color1">
                        <header class="popular-item-top wow bounceIn" data-wow-duration="1s">
                            <div class=" popular-top-logo">
                                <div class="popular-logo-icon"><img
                                        src="{{ site.url }}{{ site.baseurl }}/assets/images/notes.png"
                                        alt="service icon">
                                </div>
                            </div>
                            <div class="popular-top-title">
                                <h5 class="heading-5">Other Subjects</a></h5>
                            </div>
                        </header>
                        <ul class="popular-item-list list-inline">
                            {% for item in site.pages %}
                            {% if item.semester == page.semester and item.title != page.title %}
                            <li><a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">
                                    {{item.title}}
                                </a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Download CSIT Tutor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                You can download documents in our Mobile Application only. Our mobile application has following
                features:
                <ul>
                    <li> All study materials of B.Sc. CSIT including Textbooks </li>
                    <li> Instant notification of B.Sc. CSIT notices </li>
                    <li> Offline Downloads </li>
                    <li> Internship and Job Search </li>
                    <li> Tech News </li>
                </ul>
            </div>
            <div class="modal-footer">
                <p><a href="https://play.google.com/store/apps/details?id=io.github.ictsolved.csit" target="_blank"
                        class="btn-style2 btn btn-primary">Download</a></p>
            </div>
        </div>
    </div>
</div>