---
layout: default
---

{% assign url = page.path | replace: "/subjects","" %}

<section class="page-title-area bg-cover1">
    <div class="page-title-wrapper section-spacing">
        <div class="page-title text-center white-text">
            <h2 class="heading-2">{{ page.title }}</h2>
            <ul class="page-title-meta list-inline">
            </ul>
        </div>
    </div>
</section>


<section class="pupolar-article-area bg-color3">
    <div class="pupolar-article-wrapper  section-spacing bminus-30">
        <div id="container" class="container">
            {% include breadcrumbs.html path=url title=page.title %}
            <div class="section-title">
                <h2 class="heading-2">{{ page.title }}</h2>
                <p>{{ content }}</p>
            </div>
            <div id="viewer" class="row" style="display: none;">
                <div class="col-md-12">
                    <article class="pupolar-article  bg-color1  wow fadeIn" data-wow-duration="3s">
                        <div style="width: 100%; position: relative">
                            <iframe id="document" width="100%" frameborder="0"
                                sandbox="allow-scripts allow-same-origin"></iframe>
                            <div
                                style="width: 40px; height: 40px; position: absolute; opacity: 0; right: 12px; top: 12px;">
                                &nbsp;
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-8">
                    {% for resource in page.resources %}
                    <article class="pupolar-article  bg-color1  wow fadeIn" data-wow-duration="3s">
                        <header class="popular-article-top">
                            <div class="popular-top-logo">
                                <div class="popular-logo-icon"><img
                                        src="{{ site.url }}{{ site.baseurl }}/assets/images/book.png"
                                        alt="service icon"></div>
                            </div>
                            <div class="popular-top-title">
                                <h5 class="heading-5">{{ resource.title }}</h5>
                            </div>
                        </header>
                        <ul class="popular-article-list list-inline">
                            {% for item in resource.items %}
                            {% if item.hidden != true %}
                            <li onclick="loadDocument('{{ item.id }}');">
                                {{ item.title }}
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </article>
                    {% endfor %}
                    {% include comments.html %}
                </div>

                <div class="col-md-6 col-lg-4">
                    <article class="pupolar-item bg-color1 wow fadeIn" data-wow-duration="3s">
                        <header class="popular-item-top">
                            <div class="popular-top-logo">
                                <div class="popular-logo-icon"><img
                                        src="{{ site.url }}{{ site.baseurl }}/assets/images/notes.png"
                                        alt="service icon"></div>
                            </div>
                            <div class="popular-top-title">
                                <h5 class="heading-5">Other Subjects</a></h5>
                            </div>
                        </header>
                        <ul class="popular-item-list list-inline">
                            {% for item in site.pages %}
                            {% if item.semester == page.semester and item.title != page.title %}
                            <li><a href="{{ site.url }}{{ site.baseurl }}{{ item.url }}">
                                    {{item.title}}
                                </a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.onload = function () {
        setTimeout(function () {
            if (typeof (window.google_jobrunner) === "undefined") {
                document.getElementById('container').innerHTML = `
                    <section class="blog-area bg-color3">
                        <div class="blog-wrapper section-spacing">
                            <div class="container">
                                <div class="error-page text-center">
                                <p style="font-size:64px;color:red;"><i class="fa fa-exclamation-circle"></i></p>
                                    <p>It seems like you have AdBlock enabled.</p>
                                    <p>We get it! Ads are annoying but they help keep this website up and running. <br/>
                                    Please consider disabling your ad block software or whitelist our domain so only our ads are displayed.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                        `;
                document.getElementById('container').scrollIntoView();
            }
        }, 10000);
    };
    function loadDocument(doc) {
        document.getElementById('document').src = 'https://drive.google.com/file/d/' + doc + '/preview';
        document.getElementById('viewer').style = '';
        document.getElementById('document').height = window.innerHeight - 60;
        document.getElementById('viewer').scrollIntoView();
    }
</script>